# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
.gradle/
build/
captures/
local.properties
.DS_Store

# Android Build Artifacts
*.apk
*.ap_
*.dex
*.class
bin/
gen/

# Log files
*.log

# Memory dumps
*.hprof

# User-specific / Local configurations
.externalNativeBuild/
.cxx/
capture/
memory_roller.xml
